.markdown-container {
  margin: 10px 50px;
}
.markdown-container h1 {
  text-align: center;
  font-size: 1.8rem;
}
hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #d8dee4;
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}
.article {
  text-size-adjust: 100%;
  color: var(--markdown-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  word-wrap: break-word;
/*
     * 扩展插件样式
     */
}
.article .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}
.article h1:hover .anchor .octicon-link:before,
.article h2:hover .anchor .octicon-link:before,
.article h3:hover .anchor .octicon-link:before,
.article h4:hover .anchor .octicon-link:before,
.article h5:hover .anchor .octicon-link:before,
.article h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}
.article details,
.article figcaption,
.article figure {
  display: block;
}
.article summary {
  display: list-item;
}
.article a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}
.article b,
.article strong {
  font-weight: 600;
}
.article dfn {
  font-style: italic;
}
.article mark {
  background-color: #fff8c5;
  color: #24292f;
}
.article small {
  font-size: 90%;
}
.article sub,
.article sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article sub {
  bottom: -0.25em;
}
.article sup {
  top: -0.5em;
}
.article img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}
.article code,
.article kbd,
.article pre,
.article samp {
  font-family: monospace;
  font-size: 1em;
}
.article figure {
  margin: 1em 0;
  padding: 0;
  width: 100%;
}
.article input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.article [type=button],
.article [type=reset],
.article [type=submit] {
  -webkit-appearance: button;
}
.article [type=checkbox],
.article [type=radio] {
  box-sizing: border-box;
  padding: 0;
}
.article [type=number]::-webkit-inner-spin-button,
.article [type=number]::-webkit-outer-spin-button {
  height: auto;
}
.article [type=search]::-webkit-search-cancel-button,
.article [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.article ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
.article ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.article a:hover {
  text-decoration: underline;
}
.article ::placeholder {
  color: #6e7781;
  opacity: 1;
}
.article table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
.article table th {
  font-weight: 600;
}
.article table th,
.article table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}
.article table tr {
  background-color: #fbf4e2;
  border-top: 1px solid #d8dee4;
}
.article table tr:nth-child(2n) {
  background-color: #f3edd9;
}
.article table img {
  background-color: transparent;
}
.article .highlight table td {
  padding: 0;
  border: none;
}
.article .highlight table tr {
  border: none;
  background: none;
}
.article td,
.article th {
  padding: 0;
}
.article details summary {
  cursor: pointer;
}
.article details:not([open])>*:not(summary) {
  display: none !important;
}
.article a:focus,
.article [role=button]:focus,
.article input[type=radio]:focus,
.article input[type=checkbox]:focus {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}
.article a:focus:not(:focus-visible),
.article [role=button]:focus:not(:focus-visible),
.article input[type=radio]:focus:not(:focus-visible),
.article input[type=checkbox]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}
.article a:focus-visible,
.article [role=button]:focus-visible,
.article input[type=radio]:focus-visible,
.article input[type=checkbox]:focus-visible {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}
.article a:not([class]):focus,
.article a:not([class]):focus-visible,
.article input[type=radio]:focus,
.article input[type=radio]:focus-visible,
.article input[type=checkbox]:focus,
.article input[type=checkbox]:focus-visible {
  outline-offset: 0;
}
.article kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175,184,193,0.2);
  border-bottom-color: rgba(175,184,193,0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175,184,193,0.2);
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  scroll-margin-top: 20px;
}
.article h1 {
  margin: 0.67em 0;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #d8dee4;
}
.article h2 {
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #d8dee4;
}
.article h3 {
  font-weight: 600;
  font-size: 1.25em;
}
.article h4 {
  font-weight: 600;
  font-size: 1em;
}
.article h5 {
  font-weight: 600;
  font-size: 0.875em;
}
.article h6 {
  font-weight: 600;
  font-size: 0.85em;
  color: #57606a;
}
.article p {
  margin-top: 0;
  margin-bottom: 10px;
}
.article blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
}
.article ul,
.article ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}
.article ol ol,
.article ul ol {
  list-style-type: lower-roman;
}
.article ul ul ol,
.article ul ol ol,
.article ol ul ol,
.article ol ol ol {
  list-style-type: lower-alpha;
}
.article dd {
  margin-left: 0;
}
.article tt,
.article code,
.article samp {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
}
.article pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
  word-wrap: normal;
}
.article .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}
.article input::-webkit-outer-spin-button,
.article input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}
.article >*:first-child {
  margin-top: 0 !important;
}
.article >*:last-child {
  margin-bottom: 0 !important;
}
.article a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.article .absent {
  color: #cf222e;
}
.article .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}
.article .anchor:focus {
  outline: none;
}
.article p,
.article blockquote,
.article ul,
.article ol,
.article dl,
.article table,
.article pre,
.article details {
  margin-top: 0;
  margin-bottom: 16px;
}
.article blockquote>:first-child {
  margin-top: 0;
}
.article blockquote>:last-child {
  margin-bottom: 0;
}
.article h1 .octicon-link,
.article h2 .octicon-link,
.article h3 .octicon-link,
.article h4 .octicon-link,
.article h5 .octicon-link,
.article h6 .octicon-link {
  color: #24292f;
  vertical-align: middle;
  visibility: hidden;
}
.article h1hover .anchor,
.article h2hover .anchor,
.article h3hover .anchor,
.article h4hover .anchor,
.article h5hover .anchor,
.article h6hover .anchor {
  text-decoration: none;
}
.article h1hover .anchor .octicon-link,
.article h2hover .anchor .octicon-link,
.article h3hover .anchor .octicon-link,
.article h4hover .anchor .octicon-link,
.article h5hover .anchor .octicon-link,
.article h6hover .anchor .octicon-link {
  visibility: visible;
}
.article h1 tt,
.article h1 code,
.article h2 tt,
.article h2 code,
.article h3 tt,
.article h3 code,
.article h4 tt,
.article h4 code,
.article h5 tt,
.article h5 code,
.article h6 tt,
.article h6 code {
  padding: 0 0.2em;
  font-size: inherit;
}
.article summary h1,
.article summary h2,
.article summary h3,
.article summary h4,
.article summary h5,
.article summary h6 {
  display: inline-block;
}
.article summary h1 .anchor,
.article summary h2 .anchor,
.article summary h3 .anchor,
.article summary h4 .anchor,
.article summary h5 .anchor,
.article summary h6 .anchor {
  margin-left: -40px;
}
.article summary h1,
.article summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}
.article ul.no-list,
.article ol.no-list {
  padding: 0;
  list-style-type: none;
}
.article ol[type=a] {
  list-style-type: lower-alpha;
}
.article ol[type=A] {
  list-style-type: upper-alpha;
}
.article ol[type=i] {
  list-style-type: lower-roman;
}
.article ol[type=I] {
  list-style-type: upper-roman;
}
.article ol[type="1"] {
  list-style-type: decimal;
}
.article div>ol:not([type]) {
  list-style-type: decimal;
}
.article ul ul,
.article ul ol,
.article ol ol,
.article ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.article li>p {
  margin-top: 16px;
}
.article li+li {
  margin-top: 0.25em;
}
.article dl {
  padding: 0;
}
.article dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}
.article dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.article img[align=right] {
  padding-left: 20px;
}
.article img[align=left] {
  padding-right: 20px;
}
.article .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}
.article span.frame {
  display: block;
  overflow: hidden;
}
.article span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d0d7de;
}
.article span.frame span img {
  display: block;
  float: left;
}
.article span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292f;
}
.article span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
.article span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}
.article span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
.article span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
.article span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}
.article span.align-right span img {
  margin: 0;
  text-align: right;
}
.article span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}
.article span.float-left span {
  margin: 13px 0 0;
}
.article span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}
.article span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}
.article code,
.article tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(175,184,193,0.2);
  border-radius: 6px;
}
.article del code {
  text-decoration: inherit;
}
.article samp {
  font-size: 85%;
}
.article pre code {
  font-size: 100%;
}
.article pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.article .highlight {
  background-color: $code-bg;
  color: $code-color;
  border-radius: 5px;
  border: 1px dashed #bfbfbf;
}
.article .highlight table {
  margin: 0;
  max-width: 100%;
  overflow: auto;
  display: block;
}
.article .highlight table .gutter {
  position: sticky;
  left: 0;
  background: $code-bg;
}
.article .highlight table .gutter pre {
  padding: 0 15px;
  color: #bfbfbf;
  border-right: 1px dashed #bfbfbf;
  border-radius: 0;
  text-align: right;
}
.article pre.line-numbers {
  background-color: $code-bg;
  color: $code-color;
}
.article .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.article .highlight pre,
.article pre {
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 6px;
}
.article pre code,
.article pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.article .csv-data td,
.article .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}
.article .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #fff;
  border: 0;
}
.article .csv-data tr {
  border-top: 0;
}
.article .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}
.article [data-footnote-ref]::before {
  content: "[";
}
.article [data-footnote-ref]::after {
  content: "]";
}
.article .footnotes {
  font-size: 12px;
  color: #57606a;
  border-top: 1px solid #d0d7de;
}
.article .footnotes ol {
  padding-left: 16px;
}
.article .footnotes ol ul {
  display: inline-block;
  padding-left: 16px;
  margin-top: 16px;
}
.article .footnotes li {
  position: relative;
}
.article .footnotes litarget::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}
.article .footnotes litarget {
  color: #24292f;
}
.article .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}
.article .pl-c {
  color: #6e7781;
}
.article .pl-c1,
.article .pl-s .pl-v {
  color: #0550ae;
}
.article .pl-e,
.article .pl-en {
  color: #8250df;
}
.article .pl-smi,
.article .pl-s .pl-s1 {
  color: #24292f;
}
.article .pl-ent {
  color: #116329;
}
.article .pl-k {
  color: #cf222e;
}
.article .pl-s,
.article .pl-pds,
.article .pl-s .pl-pse .pl-s1,
.article .pl-sr,
.article .pl-sr .pl-cce,
.article .pl-sr .pl-sre,
.article .pl-sr .pl-sra {
  color: #0a3069;
}
.article .pl-v,
.article .pl-smw {
  color: #953800;
}
.article .pl-bu {
  color: #82071e;
}
.article .pl-ii {
  color: #f6f8fa;
  background-color: #82071e;
}
.article .pl-c2 {
  color: #f6f8fa;
  background-color: #cf222e;
}
.article .pl-sr .pl-cce {
  font-weight: bold;
  color: #116329;
}
.article .pl-ml {
  color: #3b2300;
}
.article .pl-mh,
.article .pl-mh .pl-en,
.article .pl-ms {
  font-weight: bold;
  color: #0550ae;
}
.article .pl-mi {
  font-style: italic;
  color: #24292f;
}
.article .pl-mb {
  font-weight: bold;
  color: #24292f;
}
.article .pl-md {
  color: #82071e;
  background-color: #ffebe9;
}
.article .pl-mi1 {
  color: #116329;
  background-color: #dafbe1;
}
.article .pl-mc {
  color: #953800;
  background-color: #ffd8b5;
}
.article .pl-mi2 {
  color: #eaeef2;
  background-color: #0550ae;
}
.article .pl-mdr {
  font-weight: bold;
  color: #8250df;
}
.article .pl-ba {
  color: #57606a;
}
.article .pl-sg {
  color: #8c959f;
}
.article .pl-corl {
  text-decoration: underline;
  color: #0a3069;
}
.article g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}
.article g-emoji img {
  width: 1em;
  height: 1em;
}
.article .task-list-item {
  list-style-type: none;
}
.article .task-list-item label {
  font-weight: 400;
}
.article .task-list-item.enabled label {
  cursor: pointer;
}
.article .task-list-item+.task-list-item {
  margin-top: 4px;
}
.article .task-list-item .handle {
  display: none;
}
.article .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.4em;
  vertical-align: middle;
}
.article .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em 0.25em 0.2em;
}
.article .contains-task-list {
  position: relative;
}
.article .contains-task-listhover .task-list-item-convert-container,
.article .contains-task-listfocus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}
.article ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
.article .admonition {
  font-size: 15px;
  margin: 10px 0;
  padding: 0.6em;
  overflow: hidden;
  page-break-inside: avoid;
  border-left: 0.4em solid #42b983;
  border-radius: 0.2em;
  box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.05), 0 0 0.05rem rgba(0,0,0,0.1);
  background-color: #fafafa;
}
.article p.admonition-title {
  position: relative;
  margin: -0.6em -0.6em 0.8em -0.6rem !important;
  padding: 0.4em 0.6em 0.4em 2.5em;
  font-weight: 700;
  background-color: rgba(66,185,131,0.1);
}
.article .admonition-title::before {
  position: absolute;
  top: 0.9em;
  left: 1em;
  width: 12px;
  height: 12px;
  background-color: #42b983;
  border-radius: 50%;
  content: ' ';
}
.article .info>.admonition-title,
.article .todo>.admonition-title {
  background-color: rgba(0,184,212,0.1);
}
.article .warning>.admonition-title,
.article .attention>.admonition-title,
.article .caution>.admonition-title {
  background-color: rgba(255,145,0,0.1);
}
.article .failure>.admonition-title,
.article .missing>.admonition-title,
.article .fail>.admonition-title,
.article .error>.admonition-title {
  background-color: rgba(255,82,82,0.1);
}
.article .admonition.info,
.article .admonition.todo {
  border-color: #00b8d4;
}
.article .admonition.warning,
.article .admonition.attention,
.article .admonition.caution {
  border-color: #ff9100;
}
.article .admonition.failure,
.article .admonition.missing,
.article .admonition.fail,
.article .admonition.error {
  border-color: #ff5252;
}
.article .info>.admonition-title::before,
.article .todo>.admonition-title::before {
  background-color: #00b8d4;
  border-radius: 50%;
}
.article .warning>.admonition-title::before,
.article .attention>.admonition-title::before,
.article .caution>.admonition-title::before {
  background-color: #ff9100;
  border-radius: 50%;
}
.article .failure>.admonition-title::before,
.article .missing>.admonition-title::before,
.article .fail>.admonition-title::before,
.article .error>.admonition-title::before {
  background-color: #ff5252;
  border-radius: 50%;
}
.article .admonition>:last-child {
  margin-bottom: 0 !important;
}
