<div class="footer-info gray">
    <div>
        <span><a href="https://github.com/ilikui">Delicate</a> theme designed with ❤️<a href="https://blog.likui.info/atom.xml">RSS</a>❤️</span>
    </div>
    <div>
        <span>Copyright Ⓒ <%- new Date().getFullYear() %>. All rights reserved.</span>
    </div>
</div>